.box{
  background-color: rgba(242, 187, 84, 0.801);
  width: 100%;
  padding:1rem 0;
  margin:0 auto;
  display: flex;
 justify-content: center;
 justify-content: space-around;
  a{
        font-size: 2rem;
    text-decoration: none;

  }

}

